html{
	padding: 3em;
	box-sizing: inherit;

}

section{
	width: 250px;
	height: 250px;
	border: 3px dotted palegreen;
	margin: auto;
	text-align: center;
}

p{
	
	border: 5px solid blue;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;

}