@import url('reset.css');
@import url('typography.css');

body {
		font-family: Helvetica, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		padding: 2em;
		background: #F5F5F5;
		max-width: 60em;
		margin: 0 auto;
}

h1, h2 {
	font-family: Georgia, serif;
	size: 1em/1.2;
}

