





.site-title {
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 2px solid black;
	padding-bottom: 1em;
}


.main-one {
	display: inline-block;
	position: relative;
	padding-top: 1em;
	width: 69%;
}

.first-img{
	display: block;
	float: right;
	padding: 0.5em;
	border: 0.5em solid black;
	margin: 1em;
}

.main-two p:nth-of-type(2) {
  width: 50%;
  display: inline-block;
}

blockquote {
	float: right;
	display: block;
	border-left: 2px solid #C8C8C8;
	font-style: italic;
	padding:0 1em;
	color: 	#404040;
	font-family: Georgia,serif;
}

blockquote p:last-child {
	padding-bottom: 0;
}

blockquote p.author {
	text-align: right;
}

.second-img{
	display: block;
	float: left;
	padding: 0.5em;
	border: 0.5em solid black;
	margin: 1em;
}

.width {
	width: 60%;
}

.width1 {
	width: 38%;
}
